@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="logo-center">
        <img src="assets/iconmonstr-dashboard-lined-240.png" alt="alternatetext">
    </div>
    <h1>Welcome to Task manager</h1>
    <h2>JW</h2>
    <a class="btn btn-outline-info" asp-controller="Task" asp-action="Index">Get started!</a>
</div>
